<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" [ngClass]="this.nav.visible? 'toggled' : ''">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/home">
    <div class="sidebar-brand-icon">
      <i class="fas fa-user-secret"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Agent</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="/home">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <!-- Nav Item - Pages Collapse Menu -->
  <!--<li class="nav-item">-->
    <!--<a class="nav-link collapsed" (click)="toggleModal()" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">-->
      <!--<i class="fas fa-fw fa-plus-circle"></i>-->
      <!--<span>Add Customer</span>-->
    <!--</a>-->
  <!--</li>-->
  <li class="nav-item">
    <a class="nav-link collapsed" href="/customer" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-user"></i>
      <span>Customers</span>
    </a>
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" (click)="logout()" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-user"></i>
      <span>Logout</span>
    </a>
  </li>


  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle" (click)="toggleSidebar()"></button>
  </div>

</ul>
<!-- End of Sidebar -->

<app-modal
  [show]="showModal"
  [customClass]="'custom_modal_class'"
  [closeCallback]="toggleModal"
>
  <div class="d-flex justify-content-center h-100 vh-100 bg-dark">
    <div class="row">
      <div class="card">
        <div class="card-header">
          <h3 class="text-center">Create Customer</h3>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
              </div>
              <input name="firstName" [(ngModel)]="firstName" class="form-control" placeholder="First Name" type="text">
            </div> <!-- form-group// --><div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input name="lastName" [(ngModel)]="lastName"  class="form-control" placeholder="Last Name" type="text">
          </div> <!-- form-group// -->
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
              </div>
              <input name="email" [(ngModel)]="email"  class="form-control" placeholder="Email address" type="email">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
              </div>
              <input name="contact" [(ngModel)]="contact"  class="form-control" placeholder="Phone number" type="text">
            </div> <!-- form-group// -->
            <p>Customer's subscriptions:</p>
            <div>
              <input type="checkbox" id="pp1" name="pp1">
              <label for="pp1">Postpaid 1</label>
            </div>
            <div>
              <input type="checkbox" id="pp2" name="pp2">
              <label for="pp2">Postpaid 2</label>
            </div>
            <div>
              <input type="checkbox" id="hi1" name="hi1">
              <label for="hi1">Home Internet 1</label>
            </div>
            <div>
              <input type="checkbox" id="hctv" name="hctv">
              <label for="hctv">Home Cable TV</label>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block" (click)="createCustomer()"> Create Customer</button>
            </div> <!-- form-group// -->
            <div class="form-group" (click)="toggleModal()">
              <button type="submit" class="btn btn-danger btn-block"> Cancel</button>
            </div> <!-- form-group// -->
          </form>
        </div>

      </div>
    </div>

  </div>
</app-modal>
