<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  <button id="sidebarToggleTop" (click)="toggleNavbar()"
          class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown no-arrow d-sm-none">
      <a class="nav-link dropdown-toggle" href="#" (click)="logout()" id="logoutBtn" role="button"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-power-off fa-fw"></i>
      </a>
    </li>
    <div class="mr-2 d-none d-lg-inline text-gray-600 mb-auto mt-auto">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small mb-auto mt-auto">Welcome Back
                            Agent</span>
      <div class="topbar-divider d-none d-inline"></div>
      <a class="nav-link d-inline " (click)="logout()" href="#" id="userDropdown" role="button"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ name }}</span>
        <i class="fas fa-power-off text-gray-300"></i>
      </a>
    </div>
  </ul>
</nav>
